<!-- HEAD -->
<%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="../css/login-register.css" />
<link rel="stylesheet" type="text/css" href="../css/productCrud.css" />


<!-- HEADER -->
<%- include('../partials/header.ejs') %>


<body>
 <main>
     <section>
           <form action="/" method="POST" class="createform">
             <div>
                 <h1>CATÁLOGO DE PRODUCTOS DB</h1>
                 <h3>Datos del Producto:</h3>
             </div>

              <div class="control-formulario">
                 <input type="text" name="titulo-libro" placeholder="Titulo del Libro" class="control">
                 <input type="text" name="autor-libro" placeholder="Autor del Libro" class="control">
             </div>

             <div>
                 <h3>Seleccione categoria</h3>
                 <label for="categoria" >
                     <select name="categoria" class="category">
                         <option value="Artisticos">Artisticos</option>
                         <option value="Consulta y referencia">Consulta y referencia</option>
                         <option value="Entretenimiento">Entretenimiento</option>
                         <option value="Infantiles">Infantiles</option>
                         <option value="Literatura">Literatura</option>
                         <option value="Recreativos">Recreativos</option>
                         <option value="Salud">Salud</option>
                     </select>
                 </label>
               </div>
    
              <h3 class="titulo-formulario">Formato Disponible:</h3>
              <div class="format">
                 <label for="pdf">PDF
                      <input type="checkbox" name="formato">
                 </label>
                 <label for="impreso">IMPRESO
                     <input type="checkbox" name="formato">
                 </label>
              </div>

              <div>
                 <h3 class="descripcion">Descripcion:</h3>
                 <textarea name="description" id="description" placeholder="Inserte Descripción de Producto" class="control"></textarea> 
              </div>
              
              <h3 class="imagen-libro">Imagen del libro:</h3>
              <h4 class="tapa-libro">Tapa Libro:</h4>
              <input class="subir-archivo" type="file">
              <h4 class="tapa-libro">Portada Libro:</h4>
              <input class="subir-archivo" type="file">
              
              <div class="control-formulario">
                 <input type="number" name="precio" placeholder="Precio del Libro" class="control"  min="1" required>
              </div>
    
              <div class="container-botones">
                 <button type="submit" id="insertar" class="btn btn-success">Insertar producto</button>
                 <button type="submit" id="modificar" class="btn btn-danger">Modificar Producto </button>
                  <button type="reset" id="borrarTodo" class="btn btn-danger">Eliminar Producto </button>
              </div>
          </form>
     </section>
</main>
</body>

<!-- FOOTER -->
<%- include('../partials/footer.ejs') %>
</html>

