<!-- HEAD -->
<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../css/productCrud.css" />

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/crud.js"></script>

    <body>
        <h1> CATÁLOGO DE PRODUCTOS</h1>
        <div class="container">

            <div class="row">
                <form class="box__forms" action="/" method="get">
                    <!-- datos producto -->
                    <fieldset class="data__book">
                        <input type="text" name="title" id="title" placeholder="Titulo del Libro" required>
                        <br>
                        <input type="text" name="author" id="author" placeholder="Autor del libro" required>
                        <br>
                        <!-- datos de categoria -->
                        <legend>Categorias:</legend>
                        <article>
                            <input type="checkbox" name="recreativo" id="recreativo" value="recreativo">
                            <label for="text">Recreativo</label>
                        </article>
                        <article>
                            <input type="checkbox" name="salud" id="salud" value="salud">
                            <label for="text">Salud</label>
                        </article>
                        <article>
                            <input type="checkbox" name="literario" id="literario" value="literario">
                            <label for="text">Literario</label>
                        </article>
                        <br>
                        <!-- datos de Descripcion -->
                        <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" required>
                        <br>
                        <input type="text" name="descripcionDetallada" id="descripcionDetallada"
                            placeholder="Descripcion Detallada" required>
                        <br>
                        <!-- foto de libro -->
                        <fieldset>
                            <legend>Tapa de libro:</legend>
                            <input type="file" name="photo-bookTapa" id="photo-bookTapa">
                            <legend>Portada de libro:</legend>
                            <input type="file" name="photo-bookPortada" id="photo-bookPortada">
                        </fieldset>
                        <br>
                        <input type="text" name="altFoto" id="altFoto" placeholder="Descripcion de foto" required>
                        <br>
                        <input type="number" step="0.01" class="form-control" id="precio"
                            placeholder="Descripcion Detallada" required />
                        <br>
                        <button type="button" id="crear" class="btn btn-success">Crear Tabla </button>
                        <button type="button" id="insertar" class="btn btn-success">Insertar Registro </button>
                        <button type="button" id="modificar" class="btn btn-danger">Modificar Registro </button>
                        <button type="button" id="listar" class="btn btn-success">Mostrar/Actualizar </button>
                        <button type="button" id="borrarTodo" class="btn btn-danger">ELIMINAR TODO </button>
                    </fieldset>
                </form>
                <hr />
                <h3> LISTA DE PRODUCTOS </h3>
                <table class="table table-borderer table-hover" id="listaProductos" style="width:715px">
                </table>
            </div>

        </div>

    </body>

    </html>