<!-- HEAD -->
<%- include('./partials/head.ejs') %>

<body>
     <!-- HEADER -->
     <%- include('./partials/header.ejs') %>
     
     <main>
          <!-- SLIDER DE PRODUCTOS -->
          <div id="carrusel-contenido">
               <div id="carrusel-caja">
                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>Literario</b></h2>
                              <h1>90 minutos en el cielo</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                   incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <a class="btn" href="productDetail/11" target="">¡Solicitalo aquí!<span
                                        class="fas fa-angle-right"></span></a>
                         </div>

                         <div class="imagen-productos">
                              <a href="productDetail/11" target="">
                                   <img src="./img/libro110a.png" alt="">
                              </a>
                         </div>
                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>Recreativo</b></h2>
                              <h1>El secreto de la paz personal</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                   incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <a class="btn" href="productDetail/3" target="">¡Solicitalo aquí!<span
                                        class="fas fa-angle-right"></span></a>
                         </div>

                         <div class="imagen-productos">
                              <a href="productDetail/3" target="">
                                   <img src="./img/libro30a.png" alt="">
                              </a>
                         </div>
                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>Recreativo</b></h2>
                              <h1>Como emprender tu propio negocio</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                   incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <a class="btn" href="productDetail/4" target="">¡Solicitalo aquí!<span
                                        class="fas fa-angle-right"></span></a>
                         </div>

                         <div class="imagen-productos">
                              <a href="productDetail/4" target="">
                                   <img src="./img/libro40a.png" alt="">
                              </a>
                         </div>
                    </div>
               </div>
          </div>
          <!-- FIN SLIDER DE PRODUCTOS -->

           <!-- Muestra de productos en general -->

           <section class="container-producto-mas-vendidos">
               <h2>Novedades Mas Vendidas</h2>
               <div class="card-list-products">
                 <div class="card">
                   <div class="card-img">
                     <img src="./img/libro3.png" alt="producto-1" />
                   </div>
                   <div class="info-card">
                     <div class="text-product">
                       <h3>El fin de la Inflacion - Javier Milei</h3>
                       <p class="category"><i>Economia, De referencia</i></p>
                     </div>
                   </div>
                   <div class="price"><b>$ 6.450</b></div>
                 </div>
                 <div class="card">
                   <div class="card-img">
                     <img src="./img/libro8.png" alt="producto-2" />
                   </div>
                   <div class="info-card">
                     <div class="text-product">
                       <h3>El Eternauta - Hector G. Oesterheld</h3>
                       <p class="category"><i>Recreativo, Historieta</i></p>
                     </div>
                   </div>
                   <div class="price"><b>$ 5400.00</b></div>
                 </div>
                 <div class="card">
                   <div class="card-img">
                     <img src="./img/libro9.png" alt="producto-3" />
                   </div>
                   <div class="info-card">
                     <div class="text-product">
                       <h3>Chainsaw Man 01 - Tatsuki Fujimoto</h3>
                       <p class="category"><i>Historieta, Recreativo</i></p>
                     </div>
                   </div>
                   <div class="price"><b>$ 2800.00</b></div>
                 </div>
                 <div class="card">
                   <div class="card-img">
                     <img src="./img/libro9a.png" alt="producto-4" />
                   </div>
                   <div class="info-card">
                     <div class="text-product">
                       <h3>Messirve - Verónica de Andrés, Florencia Andrés</h3>
                       <p class="category"><i>Infantil, De referencia</i></p>
                     </div>
                   </div>
                   <div class="price"><b>$ 5950.00</b></div>
                 </div>
               </div>
             </section>

          <section class="container-producto-oferta">
               <h2>Productos en oferta</h2>
               <div class="card-list-products">
                 <div class="card">
                   <div class="card-img">
                     <img src="./img/libro3a.png" alt="producto-1" />
                   </div>
                   <div class="info-card">
                     <div class="text-product">
                       <h3>Enferme para sanar - Marina Borensztein</h3>
                       <p class="category"><i>Recreativo, De referencia</i></p>
                     </div>
                   </div>
                   <div class="price"><b>$ 3500.00</b></div>
                 </div>
                 <div class="card">
                   <div class="card-img">
                     <img src="./img/libro4.png" alt="producto-2" />
                   </div>
                   <div class="info-card">
                     <div class="text-product">
                       <h3>Nadie puede hacerte infeliz - Claudio Maria Dominguez</h3>
                       <p class="category"><i>Recreativo</i></p>
                     </div>
                   </div>
                   <div class="price"><b>$ 2555.00</b></div>
                 </div>
                 <div class="card">
                   <div class="card-img">
                     <img src="./img/libro5.png" alt="producto-3" />
                   </div>
                   <div class="info-card">
                     <div class="text-product">
                       <h3>Las mil y una novelas - Cecilia Absatz</h3>
                       <p class="category"><i>Literatura, Recreativo</i></p>
                     </div>
                   </div>
                   <div class="price"><b>$ 1005.00</b></div>
                 </div>
                 <div class="card">
                   <div class="card-img">
                     <img src="./img/libro6.png" alt="producto-4" />
                   </div>
                   <div class="info-card">
                     <div class="text-product">
                       <h3>El Poder del metabolismo - Frank Suarez</h3>
                       <p class="category"><i>Recreativo, De referencia</i></p>
                     </div>
                   </div>
                   <div class="price"><b>$ 2050.00</b></div>
                 </div>
               </div>
             </section>

     </main>

     <!-- FOOTER -->
     <%- include('./partials/footer.ejs') %>
</body>

</html>