<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Digital Books</title>
    <link rel="stylesheet" href="/css/index.css"/>

    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <div class="header-top">
            
            <div class="fantasma"></div>
            <form class="busqueda">
                <input placeholder="buscar productos">  <i class="fa-solid fa-magnifying-glass"></i>
            </form>
            <div id="logo">
                <a href="http://localhost:3000/"><img class="logo" src="/img/LOGO-DB.png"></a>
            </div>
            
            <div>

            </div>
            <ul class="cuentas">
                <il>
                    <i class="fa-solid fa-id-card"><a href="" target="_blank">  Crear cuenta</a></i>
                </il>
                <il>
                    <i class="fa-solid fa-right-to-bracket"><a href="" target="_blank"> Iniciar sesion</a></i>
                </il>
                <il>
                    <i class="fa-solid fa-basket-shopping"><a href="" target="_blank">  Mis compras</a></i>
                </il>
            </ul>
 
        </div>

        <div>
            <ul class="header-down">
                <il id="header-down"><a href="http://localhost:3000/ofertas" target="_blank">Ofertas</a></il>
                <a>|</a>
                <il id="header-down"><a href="" target="_blank">Tiendas oficiales</a></il>
                <a>|</a>
                <il id="header-down"><a href="" target="_blank">Vender</a></il>
                <a>|</a>
                <il id="header-down"><a href="" target="_blank">Ayuda</a></il>
            </ul>
        </div>
    </header>
    <main>

     <!-- SLIDER DE PRODUCTOS -->
     <section id="menu-productos">
          <div class="contenedor-principal">
               <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

               <div class="slider">
                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>premium</b></h2>
                              <h1>XXXXXXXX</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitalo aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="./public/img/libro1.png" alt="">
                         </div>
                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>premium</b></h2>
                              <h1>Especial</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="./public/img/libro2.png" alt="">
                         </div>
                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>básico</b></h2>
                              <h1>Margarita</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="./public/img/libro3.png" alt="">
                         </div>
                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>premium</b></h2>
                              <h1>Americana</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="./public/img/libro4.png" alt="">
                         </div>
                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>especial</b></h2>
                              <h1>Suprema</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="./public/img/libro5.png" alt="">
                         </div>
                    </div>
               </div>

               <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
          </div>
     </section>
     <!-- FIN SLIDER DE PRODUCTOS -->


    </main>
    <footer>

    </footer>
    
</body>
</html>