<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Digital Books</title>
     <link rel="stylesheet" href="../css/index.css" />
     <!-- iconos -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="shortcut icon" href="./img/logo-db.png">

     <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
          defer></script>
     <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
          crossorigin="anonymous">
</head>

<body>
     <header>
          <div class="header-top">

               <div class="fantasma"></div>
               <form class="busqueda">
                    <input placeholder="buscar productos"> <i class="fa-solid fa-magnifying-glass"></i>
               </form>
               <div id="logo">
                    <a href="http://localhost:3000/"><img class="logo" src="/img/LOGO-DB.png"></a>
               </div>

               <div>

               </div>
               <ul class="cuentas">
                    <il>
                         <i class="fa-solid fa-id-card"><a href="register" target=""> Crear cuenta</a></i>
                    </il>
                    <il>
                         <i class="fa-solid fa-right-to-bracket"><a href="login" target=""> Iniciar sesion</a></i>
                    </il>
                    <il>
                         <i class="fa-solid fa-basket-shopping"><a href="" target=""> Mis compras</a></i>
                    </il>
               </ul>
          </div>

          <div>
               <ul class="header-down">
                    <il id="header-down"><a href="http://localhost:3000/ofertas" target="_blank">Ofertas</a></il>
                    <a>|</a>
                    <il id="header-down"><a href="" target="_blank">Tiendas oficiales</a></il>
                    <a>|</a>
                    <il id="header-down"><a href="" target="_blank">Vender</a></il>
                    <a>|</a>
                    <il id="header-down"><a href="" target="_blank">Ayuda</a></il>
               </ul>
          </div>
     </header>
     <main>
          <!-- SLIDER DE PRODUCTOS -->
          <div class="swiffy-slider slider-item-ratio slider-item-ratio-16x9 slider-nav-animation slider-nav-animation-fadein"
               id="swiffy-animation">
               <ul class="slider-container">
                    <li>
                         <div class="container-productos">
                              <div class="descripcion-productos">
                                   <h2>Producto <b>premium</b></h2>
                                   <h1>Titulo Libro 1</h1>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                        incidunt quisquam ab reiciendis consequuntur iure.</p>

                                   <a class="btn" href="detalleProducto" target="">¡Solicitalo aquí!<span
                                             class="fas fa-angle-right"></span></a>
                              </div>

                              <div class="imagen-productos">
                                   <a href="productDetail.html" target="">
                                        <img src="./img/libro2.png" alt="">
                                   </a>
                                   >
                              </div>
                         </div>
                    </li>
                    <li>
                         <div class="container-productos">
                              <div class="descripcion-productos">
                                   <h2>Producto <b>premium</b></h2>
                                   <h1>Titulo Libro 2</h1>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                        incidunt quisquam ab reiciendis consequuntur iure.</p>

                                   <a class="btn" href="detalleProducto" target="">¡Solicitalo aquí!<span
                                             class="fas fa-angle-right"></span></a>
                              </div>

                              <div class="imagen-productos">
                                   <img src="./img/libro3.png" alt="">
                              </div>
                         </div>
                    </li>
                    <li>
                         <div class="container-productos">
                              <div class="descripcion-productos">
                                   <h2>Producto <b>básico</b></h2>
                                   <h1>Titulo Libro 3</h1>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                        incidunt quisquam ab reiciendis consequuntur iure.</p>

                                   <a class="btn" href="detalleProducto" target="">¡Solicitalo aquí!<span
                                             class="fas fa-angle-right"></span></a>
                              </div>

                              <div class="imagen-productos">
                                   <img src="./img/libro4.png" alt="">
                              </div>
                         </div>
                    </li>
                    <li>
                         <div class="container-productos">
                              <div class="descripcion-productos">
                                   <h2>Producto <b>premium</b></h2>
                                   <h1>Titulo Libro 4</h1>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                        incidunt quisquam ab reiciendis consequuntur iure.</p>

                                   <a class="btn" href="detalleProducto" target="">¡Solicitalo aquí!<span
                                             class="fas fa-angle-right"></span></a>
                              </div>

                              <div class="imagen-productos">
                                   <img src="./img/libro5.png" alt="">
                              </div>
                         </div>
                    </li>
                    <li>
                         <div class="container-productos">
                              <div class="descripcion-productos">
                                   <h2>Producto <b>especial</b></h2>
                                   <h1>Titulo Libro 5</h1>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                        incidunt quisquam ab reiciendis consequuntur iure.</p>
                                   <a class="btn" href="detalleProducto" target="">¡Solicitalo aquí!<span
                                             class="fas fa-angle-right"></span></a>
                              </div>

                              <div class="imagen-productos">
                                   <img src="./img/libro1.png" alt="">
                              </div>
                         </div>
                    </li>
               </ul>

               <button type="button" class="slider-nav" aria-label="Ir al anterior"></button>
               <button type="button" class="slider-nav slider-nav-next" aria-label="Ir al proximo"></button>

               <div class="slider-indicators">
                    <button aria-label="Go to slide" class=""></button>
                    <button aria-label="Go to slide" class="active"></button>
                    <button aria-label="Go to slide" class=""></button>
                    <button aria-label="Go to slide" class=""></button>
                    <button aria-label="Go to slide" class=""></button>
               </div>
          </div>

          <script>
               const cuerpoDelDocumento = document.body;
               cuerpoDelDocumento.onload = miFuncion;

               function miFuncion() {
                    startAutoPlayer();
               }

               //Variable for keeping the timer instance that runs the autoplayer
               var autoPlayerTimer;

               //Start playing with the specified interval
               function startAutoPlayer() {
                    var timeout = 3500; //ms
                    var autopause = false; //has to be false
                    //A .swiffy-slider instance with the id 'swiffy-animation'
                    var sliderElement = document.getElementById("swiffy-animation");

                    //const autoPlayer = () => swiffyslider.autoPlay(sliderElement, timeout, autopause);
                    autoPlayerTimer = swiffyslider.autoPlay(sliderElement, timeout, autopause);
               }

               //Stop the autoplaying - by clearing the autoPlayer timer
               function pauseAutoPlayer() {
                    window.clearTimeout(autoPlayerTimer);
               }

               //Use the visibility API to stop the player when users switches to other tab or window and start it again when coming back to the window
               document.addEventListener('visibilitychange', function () {
                    if (document.visibilityState == "hidden") {
                         console.log("Browser tab is hidden - stopping autoplayer");
                         pauseAutoPlayer();
                    } else {
                         console.log("Browser tab is shown again - starting autoplayer");
                         startAutoPlayer();
                    }
               });
          </script>
          <!-- FIN SLIDER DE PRODUCTOS -->

     </main>

     <footer>

     </footer>

</body>

</html>