<!-- HEAD -->
<%- include('./partials/head.ejs') %>

<body>
     <!-- HEADER -->
     <%- include('./partials/header.ejs') %>
     
     <main>
          <!-- SLIDER DE PRODUCTOS -->
          <div id="carrusel-contenido">
               <div id="carrusel-caja">
                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>Literario</b></h2>
                              <h1>90 minutos en el cielo</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                   incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <a class="btn" href="productDetail/11" target="">¡Solicitalo aquí!<span
                                        class="fas fa-angle-right"></span></a>
                         </div>

                         <div class="imagen-productos">
                              <a href="productDetail/11" target="">
                                   <img src="./img/libro110a.png" alt="">
                              </a>
                         </div>
                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>Recreativo</b></h2>
                              <h1>El secreto de la paz personal</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                   incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <a class="btn" href="productDetail/3" target="">¡Solicitalo aquí!<span
                                        class="fas fa-angle-right"></span></a>
                         </div>

                         <div class="imagen-productos">
                              <a href="productDetail/3" target="">
                                   <img src="./img/libro30a.png" alt="">
                              </a>
                         </div>
                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2>Producto <b>Recreativo</b></h2>
                              <h1>Como emprender tu propio negocio</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil
                                   incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <a class="btn" href="productDetail/4" target="">¡Solicitalo aquí!<span
                                        class="fas fa-angle-right"></span></a>
                         </div>

                         <div class="imagen-productos">
                              <a href="productDetail/4" target="">
                                   <img src="./img/libro40a.png" alt="">
                              </a>
                         </div>
                    </div>
               </div>
          </div>
          <!-- FIN SLIDER DE PRODUCTOS -->

     </main>

     <!-- FOOTER -->
     <%- include('./partials/footer.ejs') %>
</body>

</html>