<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Books</title>
    <link rel="stylesheet" href="../public/css/productDetail.css" />

    <!-- fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="./public/img/logo-db.png">

</head>

<body>
    <header>
        <h1><b>HEADER</b></h1>
    </header>
    <main>
        <div class="container-img">
            <img src="./public/img/libro2.png" alt="imagen-producto" />
        </div>

        <div class="container-info-product">
            <div class="container-name-product">
                <span>
                    <h2>NOMBRE DEL LIBRO</h2>
                </span>
            </div>

            <div class="container-rating">
                <label for=""><i class="fa-solid fa-star"></i></label>
                <label for=""><i class="fa-solid fa-star"></i></label>
                <label for=""><i class="fa-solid fa-star"></i></label>
                <label for=""><i class="fa-regular fa-star"></i></label>
                <label for=""><i class="fa-regular fa-star"></i></label>
                <span>5 Comentarios</span>
            </div>
            
            <div class="container-price">
                <span>$ 1232.00</span>
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <div class="container-details-product">
                <div class="form-group">
                    <label for="formato">Formato</label>
                    <select name="formato" id="formato">
                        <option disabled selected value="">
                            Escoge una opción
                        </option>
                        <option value="impreso">Impreso</option>
                        <option value="digital">Digital</option>
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" class="input-quantity" />
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Laboriosam iure provident atque voluptatibus
                        reiciendis quae rerum, maxime placeat enim cupiditate
                        voluptatum, temporibus quis iusto. Enim eum qui delectus
                        deleniti similique? Lorem, ipsum dolor sit amet
                        consectetur adipisicing elit. Sint autem magni earum est
                        dolorem saepe perferendis repellat ipsam laudantium cum
                        assumenda quidem quam, vero similique? Iusto officiis
                        quod blanditiis iste?
                    </p>
                </div>
            </div>

            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-additional-information hidden">
                    <p>-----------</p>
                </div>
            </div>

            <div class="container-reviews">
                <div class="title-reviews">
                    <h4>Comentarios</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p>-----------</p>
                </div>
            </div>

            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </main>
    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="./public/img/libro3.png" alt="producto-1" />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Enferme para sanar - Marina Borensztein</h3>
                        <p class="category">Recreativo, De referencia</p>
                    </div>
                    <div class="price">$3500.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./public/img/libro4.png" alt="producto-2" />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Nadie puede hacerte infeliz - Claudio Maria Dominguez</h3>
                        <p class="category">Recreativo</p>
                    </div>
                    <div class="price">$2555.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./public/img/libro5.png" alt="producto-3" />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Las mil y una novelas - Cecilia Absatz</h3>
                        <p class="category">Lteratura, Recreativo</p>
                    </div>
                    <div class="price">$1005.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./public/img/libro6.png" alt="producto-4" />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Curso de periodismo escrito - Alfredo Serra</h3>
                        <p class="category">Recreativo, De referencia</p>
                    </div>
                    <div class="price">$2050.00</div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <h1><b>FOOTER</b></h1>
    </footer>

</body>

</html>