<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Books</title>
    <link rel="stylesheet" href="../css/productDetail.css" />

    <!-- fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="./img/logo-db.png">

    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
        defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
</head>

<body>
    <header>
        <h1><b>HEADER</b></h1>
    </header>
    <main>


        <div class="container-img">
            <!-- SLIDER DE PRODUCTOS -->
            <div class="swiffy-slider slider-item-ratio slider-item-ratio-16x9 slider-nav-animation slider-nav-animation-fadein"
                id="swiffy-animation">
                <ul class="slider-container">
                    <li>
                        <div class="container-productos">
                            <div class="imagen-productos">
                                <img src="./img/libro2.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-productos">
                            <div class="imagen-productos">
                                <img src="./img/libro3.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-productos">
                            <div class="imagen-productos">
                                <img src="./img/libro4.png" alt="">
                            </div>
                    </li>
                    <li>
                        <div class="container-productos">
                            <div class="imagen-productos">
                                <img src="./img/libro5.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-productos">
                            <div class="imagen-productos">
                                <img src="./img/libro1.png" alt="">
                            </div>
                        </div>
                    </li>
                </ul>

                <button type="button" class="slider-nav" aria-label="Ir al anterior"></button>
                <button type="button" class="slider-nav slider-nav-next" aria-label="Ir al proximo"></button>

                <div class="slider-indicators">
                    <button aria-label="Go to slide" class=""></button>
                    <button aria-label="Go to slide" class="active"></button>
                    <button aria-label="Go to slide" class=""></button>
                    <button aria-label="Go to slide" class=""></button>
                    <button aria-label="Go to slide" class=""></button>
                </div>
            </div>



            <!--<img src="./img/libro2.png" alt="imagen-producto" />-->
        </div>



        <div class="container-info-product">
            <div class="container-name-product">
                <span>
                    <h2>NOMBRE DEL LIBRO</h2>
                </span>
            </div>

            <div class="container-rating">
                <label for=""><i class="fa-solid fa-star"></i></label>
                <label for=""><i class="fa-solid fa-star"></i></label>
                <label for=""><i class="fa-solid fa-star"></i></label>
                <label for=""><i class="fa-regular fa-star"></i></label>
                <label for=""><i class="fa-regular fa-star"></i></label>
                <span>5 Comentarios</span>
            </div>

            <div class="container-price">
                <span>$ 1232.00</span>
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <div class="container-details-product">
                <div class="form-group">
                    <label for="formato">Formato</label>
                    <select name="formato" id="formato">
                        <option disabled selected value="">
                            Escoge una opción
                        </option>
                        <option value="impreso">Impreso</option>
                        <option value="digital">Digital</option>
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" class="input-quantity" />
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                    <p>
                        Un retrato sociocultural de los argentinos, en particular, de las razones de la “ciclocrisis” 
                        y los movimientos pendulares que nos condicionan, el rol del consumo, la idea de clase media 
                        en la que creemos y las expectativas sobre el futuro colectivo.
                    </p>
                </div>
            </div>

            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-additional-information">
                    <p>INTRODUCCIÓN El consumo ha dejado de ser un tema meramente económico para transformarse 
                        en un fenómeno social de fuerte impacto político: ahora los ciudadanos votan como consumidores, 
                        las marcas actúan como políticos y los políticos comunican como marcas. En la actual “Sociedad 
                        de Consumidores” en la que vivimos, el consumo se ha vuelto tanto un generador de identidad como 
                        un amortiguador social, siendo imposible soslayar su influencia sobre los ciudadanos. Es bajo 
                        esta nueva perspectiva que debemos analizar el nuevo “clima de época” que emerge en la Argentina. 
                        El mundo asiste a una poderosa transformación estructural que nos brinda una gran oportunidad para 
                        acceder al desarrollo. Sin embargo, como un fantasma del que no terminamos de desprendernos, flota 
                        entre nosotros la idea de la “ciclocrisis”; un aparente destino circular que nos conduce a la lógica 
                        del corto plazo, a una conducta ciclotímica y pendular. ¿Seremos los argentinos capaces de cambiar 
                        el chip, y romper así con el marco mental de la “ciclocrisis” que nos bloquea, abruma y condiciona? 
                        ¿Podremos construir sobre lo construido y encaminarnos en un proyecto de desarrollo con inclusión 
                        social? Y fundamentalmente, ¿sabremos reconocer y aprovechar a tiempo esta nueva oportunidad?</p>
                </div>
            </div>

            <div class="container-reviews">
                <div class="title-reviews">
                    <h4>Comentarios</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p>-----------</p>
                </div>
            </div>

            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </main>
    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="./img/libro3.png" alt="producto-1" />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Enferme para sanar - Marina Borensztein</h3>
                        <p class="category">Recreativo, De referencia</p>
                    </div>
                    <div class="price">$3500.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./img/libro4.png" alt="producto-2" />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Nadie puede hacerte infeliz - Claudio Maria Dominguez</h3>
                        <p class="category">Recreativo</p>
                    </div>
                    <div class="price">$2555.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./img/libro5.png" alt="producto-3" />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Las mil y una novelas - Cecilia Absatz</h3>
                        <p class="category">Lteratura, Recreativo</p>
                    </div>
                    <div class="price">$1005.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./img/libro6.png" alt="producto-4" />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Curso de periodismo escrito - Alfredo Serra</h3>
                        <p class="category">Recreativo, De referencia</p>
                    </div>
                    <div class="price">$2050.00</div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <h1><b>FOOTER</b></h1>
    </footer>

</body>

</html>