<header>
    <div class="header-top">


         <div class="busqueda-container">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input id="busqueda" placeholder="Buscar productos">
         </div>
         <div id="logo">
              <a href="http://localhost:3000/"><img class="logo" src="/img/LOGO-DB.png"></a>
         </div>

         <div class="cuentas">
              <ul>
                  <li><a href="register" target="">Crear cuenta</a></li>
                  <li>|</li>
                  <li><a href="login" target="">Iniciar sesión</a></li>
                  <li>|</li>
                  <li><a href="carrito" target="">Mis compras</a></li>
              </ul>
          </div>
    </div>

    <div>
         <ul id="header-down">
              <il class="header-down"><a href="/" target="">home</a></il>
              <a>|</a>
              <il class="header-down"><a href="" target="">venta</a></il>
              <a>|</a>
              <il class="header-down"><a href="" target="">contacto</a></il>
              <a>|</a>
              <il class="header-down"><a href="" target="">Ayuda</a></il>
         </ul>
    </div>
</header>