<!-- HEAD -->
<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="../css/login-register.css" />

  <body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>

      <main>
        <section>
          <div class="contenedor">
            <div class="formulario">
              <form>
                <h2>Iniciar Sección</h2>

                <div class="input-contenedor">
                  <i class="fa-solid fa-envelope"></i>
                  <input type="email" placeholder="Correo Electronico" />

                </div>

                <div class="input-contenedor">
                  <i class="fa-solid fa-lock"></i>
                  <input type="password" placeholder="Contraseña" />
                  <label for="#"></label>
                </div>

                <div class="olvidar">
                  <label>
                    <input type="checkbox" /> Recordar
                    <a href="#">¿Has olvidado la contraseña?</a>
                  </label>
                </div>
              </form>

              <div>
                <button id="acceso-btn">Acceder</button>
                <div class="registrar">
                  <p>
                    No tengo cuenta -
                    <a class="link" href="/register">Crear una</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- FOOTER -->
      <%- include('../partials/footer.ejs') %>

        <!-- retorno a index -->
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            // Obtener el botón de registro por su ID
            const registroBtn = document.getElementById("acceso-btn");

            // Agregar un manejador de clic al botón de registro
            registroBtn.addEventListener("click", function () {
              // Realizar la redirección a la raíz del sitio ("/")
              window.location.href = "/";
            });
          });
        </script>

  </body>

  </html>